head{
  background-color: #90b061;
}

h1#site-title {
  font-size: 72px;
  letter-spacing: -3px;
  margin-top: 0;
  margin-bottom: .125em;
  text-align: center;
}

h1#page-title {
  font-size: 48px;
}

h2{
  font-size: 32px;
  font-style: oblique;
  float: right;
  margin-left: 400px;
}

h3{
  margin-right: 400px;
  font-style: italic;
  font-size: 32px;

}

h5{
  font-size: 32px;
  float: right;
  margin-left: 400px;
}

h4{
  margin-right: 400px;
  font-style: italic;
  font-size: 32px;
}

h7{
  font-size: 32px;
  font-style: oblique;
  float: right;
  margin-left: 400px;
}

h6{
  margin-right: 400px;
  font-style: italic;
  font-size: 32px;
}

p{
  font-size: 32px;
  font-style: italic;
}

figure img{
  width:30%;
  height: auto;
}
