h1 {
  color: #077a26;
  font family: sans-serif;
}

p{
  background: #b07b85;
}

figure img{
  width:30%;
  height: auto;
}
p img{
  width:25%;
  height: auto;


}

nav ul{
  background-color: PaleVioletRed;
  display: inline-block;
  list-style: none;
  padding-left:0;
  border: 1px solid MediumVioletRed;

}

nav ul li{

}

nav ul li a{
  color: #fffff;
  text-decoration: none;
  padding: 8px;
  border-bottom: 1px solid MediumVioletRed;
  display: block;
}
